Button{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #eee;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}