.mapLogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 70%;
    background-color: rgba(31, 31, 31, 0.39);
    border-radius: 5px;
    overflow: hidden;
}