html {
  background-image: url(https://img.freepik.com/foto-gratis/fondo-abstracto-azul-formas-geometricas_24972-1838.jpg?t=st=1653193969~exp=1653194569~hmac=7071350403214d6b4a88b4b933d90b509adb93aa18ebe17b5568b48ef2ccf202&w=996);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
