html {
  background-image: url(https://res.cloudinary.com/dunrpkkpq/image/upload/v1653188339/fondo_blanco_2_s1h22j.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
