.crewPage{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    &__annotationsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        padding: 0;
        margin: 1rem;
    }
}